body {
  width: 100%;
  max-width: 100%;
  font-family: "AGFriquer", "Arial", sans-serif;
  line-height: 1.5;
  color: #383838;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffebc3;
  overflow-x: hidden;
}

.footer {
  margin-top: auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

figure {
  .reset();
}

textarea,
input,
button {
  font: inherit;
  border: none;
  outline: none;
}

button {
  padding: 0;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}

.privacy_policy {    
	padding: 10px;
	border-top:3px solid #5CA94E;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 500;
    left: 0;
    right: 0;
    background: #ffffff;
}

.privacy_policy a {
	color: #5CA94E; 
	font-weight: bold;
}

.privacy_policy .button {
	color: #F95454;
	cursor: pointer;
}

h1, h2,
.title {
  position: relative;
  margin-top: 0;
  margin-bottom: 25px;
  padding-bottom: 35px;
  color: #784729;
  font-weight: 500;
  font-size: 35px;
  line-height: 35px;
  letter-spacing: 1px;
  text-align: center;
  
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 189px;
    height: 9px;
    background-image: url(../img/icons/bd-img1.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

h3,
.title-3 {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 2px;
  font-weight: 500;
  text-align: center;
  color: #784729;
}

.title-icon {
  position: relative;
  margin-top: 0;
  margin-bottom: 35px;
  padding-bottom: 35px;
  color: #614100;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 189px;
    height: 9px;
    background-image: url(../img/icons/bd-img1.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  span {
    position: relative;
    padding-left: 70px;
    
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      background-image: url(../img/icons/icon3.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  
  &--small span {
    padding-left: 58px;
    
    &::before {
      width: 28px;
      height: 28px;
    }
  }
  
  &--big span {
    padding-left: 86px;
    
    &::before {
      width: 56px;
      height: 56px;
    }
  }
  
  &--desert span {
    padding-left: 72px;
    
    &::before {
      width: 42px;
      height: 43px;
      background-image: url(../img/icons/icon2.svg);
    }
  }
}

