.card {
  padding-top: 50px;
//  padding-bottom: 50px;
  overflow: hidden;
}

.card__download {
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background-color: #ffcc66;
}

.card__block {
  margin-bottom: 30px;
}

.card__table {
  width: 49%;
  position: relative;
  
  table {
    width: 100%;
    border-collapse: collapse;
    
    td {
      vertical-align: top;
      padding-bottom: 52px;
    }
    
    td:last-child {
//      width: 150px;
      padding-left: 10px;
      color: #a77000;
      letter-spacing: 3.6px;
      font-size: 20px;
      font-weight: 400;
      text-align: right;
    }
  }
  
  &--business {
    margin-left: auto;
    margin-right: auto;
    
    &::before {
      content: "";
      position: absolute;
      top: -150px;
      left: -390px;
      width: 405px;
      height: 446px;
      background-image: url(../img/images/zyab_priv.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  
  &--beer {
    width: 65%;
    
    &::after {
      content: "";
      position: absolute;
      top: 50px;
      left: 117%;
      width: 410px;
      height: 625px;
      background-image: url(../img/images/zyab_of.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  
  &--irland {
    margin-left: auto;
    margin-right: auto;
  }
  
  &--rom {
    width: 74%;
    margin-left: auto;
    
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 98%;
      width: 445px;
      height: 357px;
      background-image: url(../img/images/zyab_friend.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  
  &--wine {
    &::after {
      content: "";
      position: absolute;
      top: 90%;
      left: 50px;
      width: 490px;
      height: 567px;
      background-image: url(../img/images/zyab_alc.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  
  &--drink {
    &::after {
      content: "";
      position: absolute;
      top: 90%;
      left: 50px;
      width: 380px;
      height: 469px;
      background-image: url(../img/images/zyab_v_pive.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  
  &--crab {
    &::before {
      content: "";
      position: absolute;
      top: -100px;
      right: 110%;
      width: 578px;
      height: 441px;
      background-image: url(../img/images/fish-overlay1.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  
  &--fish {
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: -100px;
      left: 60%;
      width: 551px;
      height: 638px;
      background-image: url(../img/images/fish-overlay2.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  
  &--coffee {
    width: 30%;
  }
  
  &--cacao {
    margin-left: auto;
    margin-right: auto;
    
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: 110%;
      left: 50%;
      transform: translateX(-50%);
      width: 350px;
      height: 440px;
      background-image: url(../img/images/fod_zyab.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.card__name {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  
  span {
    padding-left: 10px;
  }
  
  i {
    display: block;
    flex-grow: 1;
    margin-left: 10px;
    
    border-bottom: 1px dashed #979797;
  }
  
  b {
    display: block;
    margin-top: 5px;
    width: 100%;
    font-weight: 400;
  }
}

.card__columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card__title {
  margin-top: 0;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  color: #784729;
  letter-spacing: 3px;
  text-transform: uppercase;
}
