.top {
  position: relative;
  margin-top: 90px;
  padding-top: 25px;
  padding-bottom: 10px;
  text-align: center;
  background-image: url(../img/images/menu-rfp.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.6;
    background-color: #0000001f;
//    z-index: -1;
  }
}

.top__title {
  position: relative;
  z-index: 2;
  margin-top: 0;
  padding-bottom: 0;
  text-align: center;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 3px;
  color: #542a10;
  text-transform: uppercase;
  margin-bottom: 35px;
  
  &::after {
    display: none;
  }
}
